* {
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
}

article, footer, header, nav, section, li, ul
{
   display: block;
}

 ul, nav ul, nav li, a 
{ 
    list-style: none;     
    list-style-image: none;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }  
a:hover { text-decoration: underline; } 
a:active { text-decoration: none; }
a:hover {/* opacity: .5; */text-decoration: none;}



/*  ##########################################  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	font-family: 'Josefin Slab', serif;
	font-size: 1em;
	color: #930909;
	background-color: #E6E6E6;
}

header {
	width: 100%;
	height: 3em;
	background-color: #d8d8d8;
	color: #000;
	border-bottom: solid 2px #848484;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.menu-principal {
	width: 98%;
	margin: auto;
}

.menu-principal img {
	margin-left: .5em;
}

#menu-bar {
	display: none;
}

header label {
	float: right;
	font-size: 2em;
	margin: .25em 0;
	cursor: pointer;
}

.menu {
	position: absolute;
	top: 3em;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(132,132,132,0.9);
	transition: all .5s;
	-webkit-transition: all .5s;
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
}

.menu a {
	display: block;
	color: #000;
	height: 2.25em;
	text-decoration: none;
	padding: .75em;
	border-bottom: 1px solid rgba(255,255,255,.3);
}

.menu a:hover {
	background-color: rgba(255,255,255,.3);
}

#menu-bar:checked ~ .menu {
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}


/*@media (min-width: 480px) {
	.filas img:nth-child(3) {
		width: 50%;
		height: auto;
		margin: 2.6em;
	}
}*/

/*@media (min-width: 640px) {
	.filas img:nth-child(3) {
		width: 50%;
		height: auto;
		margin: 5em;
	}
}*/

/*@media (min-width: 768px) {
	.filas img:nth-child(3) {
		width: 50%;
		height: auto;
		margin: 6.5em;
	}
}*/

@media (min-width: 800px) {
	/*.filas img:nth-child(3) {
		width: 50%;
		height: auto;
		margin: 7em;
	}*/

	.menu {
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
		float: right;
		display: flex;
	}

	header label {
		display: none;
	}

	.menu a {
		background-color: #d8d8d8;
	}

	nav a:nth-child(1) {
		border-right: 1px solid rgba(255,255,255,.3);
	}

	nav a:nth-child(2) {
		border-right: 1px solid rgba(255,255,255,.3);
	}

	.menu a:hover {
		background-color: #d8d8d8;
		color: #930909;
	}
}

/*@media (min-width: 980px) {
	.filas img:nth-child(3) {
		width: 75%;
		height: auto;
		margin: 6.5em;
	}

	.masvideo {
		display: block;
		margin: 0 auto; 
		width: 75%;
		height: 75%;
	}

}*/

/*@media (min-width: 1280px) {
	.filas img:nth-child(3) {
		width: 75%;
		height: auto;
		margin: 8.5em;
	}
}*/


/*@media (min-width: 1920px) {
	.filas img:nth-child(3) {
		width: 50%;
		height: auto;
		margin: 25.5em;
	}
}*/


	